<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.instagram.com/sofiyaan.z/" target="_blank" rel="noopener">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/sofiyaan/" target="_blank" rel="noopener">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            <a href="https://github.com/Sofiyaan12" target="_blank" rel="noopener">
                <i class="fa-brands fa-square-github"></i>
            </a>
        </div>
        <div class="f-info-brand">Hostora Private Limited © 2025. All rights reserved.</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms & Conditions</a>
        </div>
    </div>
</footer>