<footer class="footer bg-dark text-light py-4 mt-auto">
    <div class="container">
      <div class="row text-center text-md-start align-items-center g-3">
        <div class="col-12 col-md-4">
          <div class="f-info-socials d-flex justify-content-center justify-content-md-start gap-3">
            <a href="https://www.instagram.com/sofiyaan.z/" target="_blank" rel="noopener" class="text-light fs-4">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/sofiyaan/" target="_blank" rel="noopener" class="text-light fs-4">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/Sofiyaan12" target="_blank" rel="noopener" class="text-light fs-4">
              <i class="fab fa-github-square"></i>
            </a>
          </div>
        </div>
  
        <div class="col-12 col-md-4">
          <div class="f-info-brand text-center text-md-center small">
            Hostora Private Limited © 2025. All rights reserved.
          </div>
        </div>
  
        <div class="col-12 col-md-4">
          <div class="f-info-links d-flex justify-content-center justify-content-md-end gap-3">
            <a href="/privacy" class="text-light small">Privacy</a>
            <a href="/terms" class="text-light small">Terms & Conditions</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  